<% @show_kitchen_status = true %>
<div class="bg-tan">
  <div class="container container--main">
    <h1 class="hr-header">About Us</h1>

    <h4>Front of the House</h4>
    <p>We’re the team that delivers. We don’t just eat food; we live and breathe it. We’re eager diners, but also avid cooks. We obsess over baking the perfect country loaf, and pulling the perfect shot of ristretto. Our passion for the intersection of food and the technology that enables it is infused into everything we do, and we want to make your experience flawless from soup to nuts.</p>

    <h4>Back of the House</h4>
    <p>We’re some of the brightest minds in Bay Area food. Executive Chef, Stephen Beaumier, was R&amp;D Chef at Cyrus and Chef de Cuisine at Quince, and staged at René Redzepi's much-lauded Noma in Copenhagen. Team members hail from other notable venues, including Manresa and Nopa; one even helmed a food truck. We source the best ingredients and develop recipes that allow you to be chef in your own home.</p>

    <h4>Prepped for Greatness</h4>
    <p>Our expert hands spend hours, days and sometimes weeks packing your plate with restaurant flavor. From measuring and mincing to brining, fermenting and loading the blast chiller, we merge tried-and-true cooking techniques with the latest tricks and precision equipment of the trade. But you’ll still have to chop your own onion—for good reason—to preserve its freshness and flavor.</p>

    <h4>Chefs with Benefits</h4>
    <p>We draw from our network and knowledge of the culinary world to bring the most interesting, imaginative and delicious restaurants into your kitchen. From Nopa to Noma, we collaborate closely with acclaimed chefs to provide a new way to experience their signature dishes.</p>

    <h4>Farmers, Fishermen &amp; Foragers</h4>
    <p>Flavor starts on the farm and disappears with every mile spent on the road. That’s why we’re proud to be part of the local food community, sourcing 100% of our ingredients from thoughtful and committed restaurant-grade purveyors. Fresh, local, flavorful, sustainable, and organic (where possible): if an ingredient fails this list, you won’t find it on our menu.</p>
  </div>
</div>
