<% @show_kitchen_status = true %>
<div class="bg-tan">
  <div class="container container--main">
    <h1 class="hr-header">About Us</h1>

    <div class="clearfix">
      <h2 class="text-center--mobile">Inspired by the Kale Salad at Tacolicious, we attempted to recreate it at home…</h2>

      <img class="product__image tacolicious-kale-salad" src="https://d3eufi7ek61lbb.cloudfront.net/spree/images/attachments/000/000/006/detail/Achiote-Chicken-_-Kale-Salad-web.jpg?1454445335" alt="Tacolicious Kale Salad">

      <p></p>

      <p>It took the two of us nearly two hours to prepare the dish: cooking the quinoa, roasting the squash, pickling the carrots, toasting the almonds/pepitas, thinly slicing the apple/cabbage/radishes/kale, and whipping up a cumin vinaigrette . Then it hit us…</p>

      <p><em>Every restaurant can fire a dish in 20 minutes because they have a team of sous chefs. Let’s give the home chef access to the same team of sous chefs.</em></p>

      <p>
        Backed by the restaurant’s team of sous chefs and the same farm-fresh ingredients used at the restaurant,
        the home chef can make amazing meals with the same speed as a restaurant kitchen during dinner service.
      </p>

      <p><em>Din was born.</em></p>

      <p>Cooking meals created by local restaurants brings our community closer and inspires us to elevate our culinary skills with new ingredients, flavors, and techniques.</p>

      <p>—Em &amp; Rob, Co-Founders, Din</p>
    </div>


    <div class="about-steps">
      <div class="about-block">
        <strong>Local restaurants create meals</strong> and source, prep, and pack ingredients.
      </div>
      <div class="about-block">
        <strong>Din delivers meals</strong> during your preferred delivery window.
      </div>
      <div class="about-block">
        <strong>You cook meals</strong> in less than 30 minutes and enjoy the evening with your loved ones.
      </div>
    </div>


    <h2>Our Mission <!-- Restaurant meals cooked at home in less than 30 minutes. --></h2>
    <p>
      Din is on a mission to help people cook at home more often,
      and through cooking, build a better food system with less processed food and less food waste.
      We want to see more people connecting around the dinner table, enjoying a meal they proudly cooked themselves.
    </p>

<%#
    <p>
      Our mission is to help people cook healthy meals at home more often.
      We want to see friends and families connecting around an incredible meal they proudly cooked themselves.

      - meal preferences
      - connect the restaurant kitchen to the home kitchen
      - provide access to the same purveyors and ingredients restaurants have access to

      Providing access to the same purveyors and team of sous chefs at the restaurant.
      Provide opportunities to learn about

      Blue Apron: Our mission is to make incredible home cooking accessible to everyone.

    </p>
 %>

    <h2>Front of the House</h2>
    <p>
      <em>The front of the house crew welcomes you and makes sure you have a flawless dining experience.</em>
      Meet the team at Din making it happen.
    </p>
    <p>[…team shot here…]</p>


    <h2>Back of the House</h2>
    <p>
      <em>The back of the house crew sources ingredients from local farms,preps ingredients, and fires the dishes when you order.</em>
      Meet the community of restaurants sharing recipes, prepping, and packing ingredients for you.
    </p>
    <p>[…grid of restaurants here…]</p>

  </div>
</div>
