<% @show_kitchen_status = false %>

<div class="bg-tan">
  <div class="jumbotron restaurant-hero">
    <div class="container">
      <h1 class="hr-header">Din for Restaurants</h1>
      <p class="sub-header text-center type-serif">Cook at Home. Better than Takeout.</p>
      <div class="text-center">
        <a class="btn btn-primary js_learn_more_button" href="#get-started">Get Started with Din</a>
      </div>
    </div>
  </div>
</div>

<nav class="restaurant-sub-nav">
  <div class="container container--nav">
    <div class="main-nav__menu">
      <a class="main-nav__link" href="#overview">Overview</a>
      <a class="main-nav__link" href="#partners">Partners</a>
      <a class="main-nav__link" href="#how-it-works">How It Works</a>
    </div>
    <div class="main-nav__user">
      <a class="btn btn-sm btn-default js_learn_more_button" href="#get-started">Get Started</a>
    </div>
  </div>
</nav>

<div class="bg-tan">
  <div id="overview" class="container">
    <br><br><br>
    <div class="row">
      <div class="col-md-3 text-center">
        <h4>Add Orders, Not Tables</h4>
        <p>Extend your business outside the dining room, into the home kitchen.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>Off-Peak Demand</h4>
        <p>Make every night a Friday night. Meals out the door before service.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>Your Food, Our Format</h4>
        <p>Sell your prepped ingredients with our editorial to home cooks.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>Plan with Certainty</h4>
        <p>Our meals are pre-ordered in advance so there's no waste.</p>
      </div>
    </div>
    <br><br><br><br>
  </div>
</div>

<div class="">
  <div id="partners" class="container">
    <div class="row">
      <div class="col-xs-12">
        <br><br>
        <h3 class="text-center">
          Over 100K Meals Sold<br>
          <span class="small">In Partnership with Celebrated Restaurants &amp; Chefs</span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <br>
        <center><img src="https://dl.dropboxusercontent.com/u/6528/restaurant-logos.jpg" width="80%" align="middle"></center>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>

<div id="how-it-works" class="bg-tan">
  <div class="container-fluid">
    <div class="row">
      <div class="restaurant-hiw-block restaurant-hiw-image col-md-6 hidden-sm hidden-xs"></div>
      <div class="restaurant-hiw-block col-md-6 text-center">
        <br><br><br><br><br><br><br>
        <h4>1. You Drive the Menu</h4>
      </div>
    </div>

    <div class="row">
      <div class="restaurant-hiw-block col-md-6 text-center">
        <br><br><br><br><br><br><br>
        <h4>2. We Create World-Class Editorial</h4>
      </div>
      <div class="restaurant-hiw-block restaurant-hiw-image col-md-6 hidden-sm hidden-xs"></div>
    </div>

    <div class="row">
      <div class="restaurant-hiw-block restaurant-hiw-image col-md-6 hidden-sm hidden-xs"></div>
      <div class="restaurant-hiw-block col-md-6 text-center">
        <br><br><br><br><br><br><br>
        <h4>3. We Take Pre-Ordered Sales</h4>
      </div>
    </div>

    <div class="row">
      <div class="restaurant-hiw-block col-md-6 text-center">
        <br><br><br><br><br><br><br>
        <h4>4. You Prep Ingredients and Package</h4>
      </div>
      <div class="restaurant-hiw-block restaurant-hiw-image col-md-6 hidden-sm hidden-xs"></div>
    </div>

    <div class="row">
      <div class="restaurant-hiw-block restaurant-hiw-image col-md-6 hidden-sm hidden-xs"></div>
      <div class="restaurant-hiw-block col-md-6 text-center">
        <br><br><br><br><br><br><br>
        <h4>5. We Deliver to Customers</h4>
      </div>
    </div>
  </div>
</div>