<div class="bg-tan">
  <div class="container container--main">
    <h1 class="hr-header">We're Here For You</h1>
    <h4>Contact Us</h4>
    <ul>
      <li><a class="text-nowrap" target="_blank" href="tel:+14153650533">415-365-0533</a></li>
      <li><a class="text-nowrap" target="_blank" href="mailto:help@din.co">help@din.co</a></li>
    </ul>

    <h4>Self Help</h4>
    <p><a href="/faq">Frequently Asked Questions</a></p>

    <h4>Help us improve Din</h4>
    <a href="mailto:help@din.co?Subject=Helpful%20Feedback">Share Feedback</a>
  </div>
</div>
