<h1>We're Here For You</h1>
<ul>
  <li><a href="tel:+14153650533">415-365-0533</a></li>
  <li><a href="mailto:help@din.co">help@din.co</a></li>
  <li><a href="#open-intercom">Chat</a></li>
</ul>

<h2>Self Help</h2>
<p><a href="/faq">Frequently Asked Questions</a></p>

<h2>Help us improve Din</h2>
<a href="mailto:help@din.co?Subject=Helpful%20Feedback">Share Feedback</a>
