<% @show_kitchen_status = false %>
<div class="jumbotron bg-white">
	<div class="container">
    <h1 class="hr-header">Din Style Guide</h1>
    <div class="sub-header text-center">This is a template showcasing components and styles for use throughout Din.co.</div>
	</div>
</div>
<div class="bg-tan">
  <div class="container" role="main">
    <div class="page-header">
      <h1>Typography</h1>
    </div>

    <h1>Header 1</h1>
    <p><b>This is paragraph text.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>
    <p>Ferri facilis molestie cum cu, epicuri laboramus philosophia ea quo. Quot ubique corrumpit eum id, brute autem nominati eam ut. Dictas malorum voluptua cu est.</p>

    <h2>Header 2</h2>
    <p><b>This is paragraph text.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>
    <p>Ferri facilis molestie cum cu, epicuri laboramus philosophia ea quo. Quot ubique corrumpit eum id, brute autem nominati eam ut. Dictas malorum voluptua cu est.</p>

    <h3>Header 3</h3>
    <p><b>This is paragraph text.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>
    <p>Ferri facilis molestie cum cu, epicuri laboramus philosophia ea quo. Quot ubique corrumpit eum id, brute autem nominati eam ut. Dictas malorum voluptua cu est.</p>

    <h4>Header 4</h4>
    <p><b>This is paragraph text.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>
    <p>Ferri facilis molestie cum cu, epicuri laboramus philosophia ea quo. Quot ubique corrumpit eum id, brute autem nominati eam ut. Dictas malorum voluptua cu est.</p>

    <h5>Header 5</h5>
    <p class="small"><b>small paragraph text.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>

    <p class="type-serif"><b>Serif type paragraph.</b> Lorem ipsum dolor sit amet, <strong>id congue assentior sit</strong>, justo senserit mei ad. Quas consetetur eum ea. Eu iriure scripta deterruisset mea, usu te eros deserunt accusamus, usu omittam posidonium id.</>

    <div class="page-header">
      <h1>Buttons</h1>
    </div>
    <p>
      <button type="button" class="btn btn-lg btn-default">Default</button>
      <button type="button" class="btn btn-lg btn-primary">Primary</button>
      <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary (disabled)</button>
      <button type="button" class="btn btn-lg btn-link">Link</button>
    </p>
    <p>
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary" disabled="disabled">Primary (disabled)</button>
      <button type="button" class="btn btn-link">Link</button>
    </p>
    <p>
      <button type="button" class="btn btn-sm btn-default">Default</button>
      <button type="button" class="btn btn-sm btn-primary">Primary</button>
      <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Primary (disabled)</button>
      <button type="button" class="btn btn-sm btn-link">Link</button>
    </p>
    <p>
      <button type="button" class="btn btn-xs btn-default">Default</button>
      <button type="button" class="btn btn-xs btn-primary">Primary</button>
      <button type="button" class="btn btn-xs btn-primary" disabled="disabled">Primary (disabled)</button>
      <button type="button" class="btn btn-xs btn-link">Link</button>
    </p>

  </div>
</div>
