<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <td><strong>Dish</strong></td>
      <td><strong><%= @shipment_date.to_s(:weekday_month_day_short) %></strong></td>
    </tr>
  </thead>
  <tbody>
    <% @pickup.each do |dish_name, quantity| %>
      <tr>
        <td><%= dish_name %></td>
        <td><%= quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
