<% if adjustments.sum(&:amount) != 0 %>
  <tr class="adjustment">
    <td colspan="4"><%= type %>: <%= label %></td>
    <td>
      <%= Spree::Money.new(adjustments.sum(&:amount), :currency => @order.currency) %>
    </td>
  </tr>
<% end %>
