<div class="container container--main">
  <h1>Payment Card</h1>

  <%= form_for Spree::CreditCard.new, url: account_cards_path, method: :post do |f| %>
    <%= render partial: "spree/shared/stripe", locals: { payment_method: @payment_method, email: @user.email, credit_card: @credit_card, form: f } %>
  <% end %>

</div>

