<!DOCTYPE html>
<html>
<head>
  <title><%= @email_title || "" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>

  <style type="text/css">
    <%= Rails.application.assets[(@custom_email_styles.present? ? @custom_email_styles : "spree/backend/email/menu")].to_s.html_safe %>
  </style>

  <% if @email_preheader.present? %>
    <div class="email-prehead">
      <%= @email_preheader %>
    </div>
  <% end -%>

  <%= yield %>

</body>
</html>
