.index-hero
  position: relative
  background: $din-color-tan image-url("restaurant/restaurant-hero.jpg") bottom center/cover no-repeat
  min-height: 250px
  color: white
  .hr-header
    &:before,
    &:after
      border-color: white

.restaurant-sub-nav
  background-color: white
  border-bottom: 1px solid #e0e0e0
  max-width: 1680px
  position: relative
  width: 100%
  z-index: 2

