// Bootstrap extensions
// (Default Boostrap uses opacity for disabled state.)
.btn-primary
  &.disabled,
  &.disabled:link,
  &[disabled]
    background-color: $din-color-med-grey
    border-color: $din-color-med-grey
    &:hover,
    &:focus,
    &.focus,
      background-color: $din-color-med-grey
      border-color: $din-color-med-grey
