// Bootstrap extensions
// (Default Boostrap uses opacity for disabled state.)
.btn-primary
  &.disabled,
  &.disabled:link,
  &[disabled]
    background-color: $din-color-med-grey
    border-color: $din-color-med-grey
    &:hover,
    &:focus,
    &.focus,
      background-color: $din-color-med-grey
      border-color: $din-color-med-grey

.btn-info
  background-color: $din-color-dark-tan
  border-color: $din-color-dark-tan
  color: black
  &:hover,
  &:active,
  &.active,
  &:active:focus,
  &.active:focus,
  &:focus,
  &.focus
    background-color: darken($din-color-dark-tan, 10%)
    border-color: darken($din-color-dark-tan, 10%)
    color: black
