.btn-primary.disabled,
.btn-primary.disabled:link,
.btn-primary[disabled],
fieldset[disabled] .btn-primary
  background-color: rgb(158,158,158)
  border-color: rgb(158,158,158)


.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus
  background-color: rgb(158,158,158)
  border-color: rgb(158,158,158)
