.flash
  padding: 30px 10px 15px
  text-align: center

  // Bootstrap colors
  &.notice
    background-color: #d9edf7
  &.success
    background-color: #dff0d8
  &.warning
    background-color: #fcf8e3
  &.error
    background-color: #f2dede

.free-shipping
  padding: 25px 0
  background: $din-color-mint
.free-shipping--flash
  padding-top: 30px
