label + .radio,
label + .checkbox
  margin-top: -5px

.resize-vertical-only
  resize: vertical

.form-container
  max-width: 500px
  margin: auto

.form-footer
  margin-top: 30px

.form_text-link
  margin-top: 30px
