label + .radio,
label + .checkbox
  margin-top: -5px

.resize-vertical-only
  resize: vertical

.form-container
  max-width: 500px
  margin: auto

.form-footer
  margin-top: 30px

.page-anchor:target,
.how-subscription-works
  padding-top: 44px // header height // magic number!!

.radio-group .radio:first-child,
.checkbox-group .checkbox:first-child
  margin-top: 0
