$base-line-height: 20px

$din-logo-size: 52px
$link-v-padding: 8px
$logo-v-offset: 4px
$nav-height: $base-line-height + $link-v-padding * 2

.main-header
  height: $nav-height

.main-nav
  position: fixed
  top: 0
  +layer(menu)
  background: white
  width: 100%
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
  transition: top 0.3s ease-in-out

.container--nav
  display: flex
  padding: 0

.main-nav--hidden
  top: -64px

%main-nav__item
  flex: 2

.main-nav__menu
  @extend %main-nav__item
  text-align: left

.main-nav__user
  @extend %main-nav__item
  text-align: right

.main-nav_logo
  width: $din-logo-size

.main-nav__link:link,
.main-nav__link:visited
  display: inline-block
  padding: 10px 16px
  color: rgb(88,88,88)
  text-decoration: none
  &:hover
    color: rgb(28,28,28)

.nav-logo
  position: absolute
  // top: $logo-v-offset
  top: 12px
  display: inline-block
  width: $din-logo-size
  height: $din-logo-size
  border-radius: 50%
  box-shadow: 0 1px 1px rgba(82,82,82,0.3)
  .main-nav--hidden &
    box-shadow: none
