// Backgrounds
.bg-tan
  background: rgb(246,242,236)

// Layout Styles
.page-header
  margin: 40px 0 20px
  border-bottom: 1px solid rgb(198,198,198)
  padding-bottom: 9px

// Misc
.container--main
  overflow: hidden
  margin-bottom: 4em

.form--margin-bottom
  margin-bottom: 2em

.address
  .fn,
  .adr,
  .tel
    display: block

.bottom10
  margin-bottom: 10px

.bottom15
  margin-bottom: 15px

.bottom20
  margin-bottom: 20px

.bottom30
  margin-bottom: 30px

.bottom40
  margin-bottom: 40px

.bottom50
  margin-bottom: 50px

.bottom60
  margin-bottom: 60px

.bottom80
  margin-bottom: 80px

.bottom100
  margin-bottom: 100px

.bottom120
  margin-bottom: 120px

.margin0
  margin: 0px

.padding0
  padding: 0px
