/*Background Styles*/

.bg-tan
  background-color: rgb(246,242,236)

.bg-white
  background-color: rgb(255,255,255)

/*Layout Styles*/
.page-header
  padding-bottom: 9px
  margin: 40px 0 20px
  border-bottom: 1px solid rgb(198,198,198)



/*Misc*/

.container--main
  overflow: hidden
  margin-bottom: 4em

.form--margin-bottom
  margin-bottom: 2em

.address
  .fn,
  .adr,
  .tel
    display: block
