// Backgrounds
.bg-tan
  background: rgb(246,242,236)

// Layout Styles
.page-header
  margin: 40px 0 20px
  border-bottom: 1px solid rgb(198,198,198)
  padding-bottom: 9px

// Misc
.container--main
  overflow: hidden
  padding-top: 2em
  padding-bottom: 4em
  min-height: 75vh

.form--margin-bottom
  margin-bottom: 2em

.address
  .fn,
  .adr,
  .tel
    display: block

.main-footer
  min-height: 20vh
