.container__product
  padding-top: 2em
  padding-bottom: 2em

.product
  margin-bottom: 35px
  border-bottom: 1px solid rgb(208,208,208)
  padding-bottom: 35px
  &:last-child
    margin-bottom: 0
    border-bottom: 0

.product-image
  display: block
  width: 100%
  border-radius: 1px
  border: 1px solid rgb(228,228,228)

.product__details:link
  display: block
  padding: 5px 10px 0
  text-decoration: none

.product__offers
  display: flex
  flex-direction: column
  @media (min-width: 768px)
    flex-direction: row-reverse
  .btn
    flex: 1
    &:first-child
      margin-bottom: 15px
      @media (min-width: 768px)
        margin-bottom: 0
        margin-left: 15px
    &:last-child
      @media (min-width: 768px)
        margin-right: 15px

.product__restaurant-name
  margin: 0 0 15px 0
  text-align: center
  color: rgb(128,128,128)
  font-size: 20px
  &:before
    content: ""
    display: block
    width: 55px
    margin: 10px auto
    border: 2px solid rgb(0,0,0)

.product__meta
  margin: 30px 0

.product__meta-separator:before
  content: '•'
  padding: 0 0.4em

.product__directions
  margin-bottom: 3em

.product__order-button
  width: 100%
  @media (min-width: 768px)
    width: 50%


// Product Table
.order-table
  .image
    width: 15%
    min-width: 50px
  .name
    width: 70%
  .price,
  .quantity,
  .total
    width: 5%
  .quantity
    text-align: center
  .price,
  .total
    text-align: right

.subtotal-row
  font-weight: 500
  background-color: #f9f9f9

.total-row
  font-weight: 700
  background-color: #f9f9f9

.order-table__image
  padding-top: 0
  padding-bottom: 0
  padding-left: 0


// Cart Table
.cart-table__image
  width: 15%
  min-width: 50px
.cart-table__name
  width: 65%
.cart-table__price,
.cart-table__quantity,
.cart-table__total,
.cart-table__remove
  width: 5%
.cart-table__quantity
  text-align: center
  white-space: nowrap
.cart-table__price,
.cart-table__total
  text-align: right

.cart-table__quantity-group
  width: 4.7em
.cart-table__quantity-input
  text-align: center
.cart-table__quantity-remove
  &:link,
  &:visited
    color: red
    text-decoration: none
    font-size: 1.5em
    padding: 0 4px 4px
    line-height: 0
