// Din Vars

// Colors
$din-color-green: #5fd375
$din-color-mint: #9de6ab
$din-color-tan: #f6f2ec
$din-color-light-grey: #808080
$din-color-med-grey: #9e9e9e
$color-chefs-note-green: rgb(67,99,24)

// Layout
$din-border-radius: 2px

// ---------------------------------------
// Bootstrap Vars

// Typography
$font-family-sans-serif:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$headings-font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif
$font-size-base: 16px

// Radius
$border-radius-base:  $din-border-radius
$border-radius-large: $din-border-radius
$border-radius-small: $din-border-radius

// Buttons
$btn-font-weight:         500

$btn-default-color:       $din-color-light-grey
$btn-default-bg:          #f9f9f9
$btn-default-border:      #c6c6c6

$btn-primary-bg:          $din-color-green
$btn-primary-border:      $din-color-green

$btn-border-radius-base:  2px
$btn-border-radius-large: 2px
$btn-border-radius-small: 2px

$screen-lg: 1700px
