<%= render layout: 'spree/shared/mailer_layout', locals: {title: @title} do %>
  <p>
    This email confirms your new delivery address. We will send future deliveries to:
  </p>
  <p>
    <%= render partial: 'spree/shared/vcard', locals: {address: @address} %>
    <% if @address.delivery_instructions.present? %>
      <em><%= @address.delivery_instructions %></em>
    <% end %>
  </p>
  <p>
    To make any further changes, visit your <%= link_to "account page", spree.account_url, class: "green-link" %>.
  </p>
<% end %>
