<%= render layout: 'spree/shared/mailer_layout', locals: {title: @title} do %>
  <p>
    This email confirms your new meal preferences. Thanks for telling us what you like to eat.
  </p>
  <p><%= @proteins_sentence.html_safe %></p>
  <% if @allergen_sentence %>
    <p><%= @allergen_sentence.html_safe %></p>
  <% end -%>
  <p>
    To make any further changes, visit your <%= link_to "account page", spree.account_url, class: "green-link" %>.
  </p>
<% end %>
