<div class="container container--main">
  <h1>Meal Preferences</h1>

  <p>We will do our best to accommodate your meal preferences. We may not always be able to accommodate all dietary preferences and allergies, but your preferences will inform restaurants we seek to partner with and the dishes which they offer via Din.</p>

  <%= form_for @meal_preference, url: meal_preferences_path, method: :post do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>
