<div class="container container--main">
  <h1>Meal Preferences</h1>

  <p>
    Your preferences influence the restaurants we partner with and the dishes we offer.
    We do our best to accommodate your meal preferences, though we may not always be able to accommodate all dietary preferences and allergies.
  </p>

  <%= form_for @meal_preference, url: account_meal_preference_path, method: :post do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <p class="small"><em><%= Spree.t(:allergen_warning) %></em></p>
</div>
