<%#
  This file and all included partials MUST ONLY be asynchronous tracking scripts.
  Put synchronous trackers before </body>
%>
<%= render :partial => 'spree/shared/kissmetrics' %>
<%= render :partial => 'spree/shared/google_analytics' %>
