<footer class="main-footer">

  <nav class="footer-nav">
    <a class="footer-nav__link" href="#foo">about</a>
    <%= link_to "restaurants", spree.nested_taxons_path(Spree::Taxonomy.restaurant.root), class: "footer-nav__link" %>
    <a class="footer-nav__link" href="#foo">careers</a>
    <a class="footer-nav__link" href="#foo">help</a>
  </nav>

  <nav class="social-nav">
    <a href="#foo">facebook</a>
    <a href="#foo">twitter</a>
    <a href="#foo">instagram</a>
  </nav>

  <div class="legal-footer">
    <div>© Din, 2015</div>
    <div><a href="#foo">Privacy Policy</a> and <a href="#foo">Terms of Service</a></div>
  </div>

</footer>
