<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      var metadata = {
        kitchen_open: <%= KITCHEN.open? %>,
        authenticated: <%= spree_current_user.present? %>,
        product_ids: [],
        product_names: [],
        products_purchasable: []
      };
      $(".add-product-form").each(function(i) {
        var productData = productMetadata(this);
        metadata.product_ids.push(productData.product_id);
        metadata.product_names.push(productData.name);
        metadata.products_purchasable.push(productData.purchasable);
      });
      trackAmplitude({name: 'Visited Homepage', metadata: metadata});
      $(".js_learn_more_button").click(function(){
        trackAmplitude({name: 'Purchase Intent - Learn more'});
      });
      $(".js_view_menu_button").click(function(){
        trackAmplitude({name: 'Purchase Intent - View menu'});
      });

      $("#how-din-works").waypoint({
        <%# This waypoint prevents recording product purchase button %>
        offset: '40%',
        continuous: false,
        handler: function(direction) {
          if (direction == "down") {
            trackAmplitude({name: 'Purchase Intent - Viewed learn more'});
          }
        }
      });

    });
  </script>
  <%= render partial: 'shared/purchase_funnel_tracking' %>
<% end -%>

<div class="bg-tan">
  <div class="jumbotron index-hero">
    <div class="container">
      <h1 class="hr-header home-heading">Din is Permanently Closed</h1>
      <p class="sub-header text-center type-serif">Effective October 21st, 2016</p>
    </div>
  </div>
</div>

<div class="bg-tan">
  <div class="container container--main">
    <p>It's with a heavy heart that we share that October 21st, 2016 will be our final delivery day for Din.<br><br>Earlier this year we made some changes to our business model, in an effort to get the business profitable and healthy for the long term. Unfortunately we weren’t able to make that happen, and it brings us sadness that we can no longer serve you and help make it is easier to get in the kitchen and cook with your friends and family.<br><br>We have so much gratitude for you, our customers. For any entrepreneur, seeing what you created make its way into someone’s weekly rituals, something as intimate as the kitchen and dinner table, is a great honor.<br><br>You all have shared so many stories with us that were the fuel that kept us going during the emotionally trying ride that is entrepreneurship. We’ll never forget hearing from you, cooking wasn’t just getting dinner on the table. It was saving a marriage, celebrating family, deepening the connection to your kids and wife in the daily busyness of life. We were on a mission to get more people in the kitchen cooking because we believe cooking and food is that bridge that connects us as people between nature and culture. Cooking and the physical act of working with ingredients is a daily connection to the earth and where that food comes from. Cooking is also a social act that connects us to each other (in real life!). Something as simple as cooking dinner can do all of that.<br><br>When we began, I was the only one cooking in our household, but through Din, Rob has now become an exceptional cook, learning new tips each week from the pros who have so graciously shared their recipes and techniques with us.<br><br>We hope you can take these same cooking lessons with you, and that your experience with Din has made you a more confident cook. We hope you continue to support your local restaurants, farms, and grocery stores. Din was always locally-focused, because we believe food grown and prepared locally is key to healthy communities.<br><br>As for what’s ahead for us as founders, we know our future remains in the food world, with our work getting us closer to farming and growing food itself. No specifics yet, but we want to see a future that’s filled with good, whole food for all. We know there is lots of work to be done on the way we grow our food. We’re up for the challenge. :)<br><br>Wishing you all the best, don’t be a stranger, and feel free to respond to us directly with a personal note if you feel inclined. We’d love to hear from you.<br><br>In Good Food We Trust,<br>– Emily LaFave Olson &amp; Rob Olson LaFave, Co-founders at Din</p>
  </div>
</div>
