<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">


  <div>
    <h3>
      <%= Spree::Taxonomy.restaurant.name %>
    </h3>
    <%= my_taxons_tree(Spree::Taxonomy.restaurant.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>

  </div>

  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>

